@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #002932;
  --sl-color-accent: #00778b;
  --sl-color-accent-high: #7fd8ed;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #efedec;
  --sl-color-gray-2: #cac7c7;
  --sl-color-gray-3: #a8a2a1;
  --sl-color-gray-4: #5c5756;
  --sl-color-gray-5: #3c3736;
  --sl-color-gray-6: #2a2625;
  --sl-color-black: #1a1817;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #a3e3f3;
  --sl-color-accent: #005463;
  --sl-color-accent-high: #003944;
  --sl-color-white: #1a1817;
  --sl-color-gray-1: #2a2625;
  --sl-color-gray-2: #3c3736;
  --sl-color-gray-3: #5c5756;
  --sl-color-gray-4: #8f8a89;
  --sl-color-gray-5: #c4c1c0;
  --sl-color-gray-6: #efedec;
  --sl-color-gray-7: #f7f6f6;
  --sl-color-black: #ffffff;
}

@theme {
  /* Your preferred text font. Starlight uses a system font stack by default. */
  --font-sans: "Atkinson Hyperlegible";
  /* Your preferred code font. Starlight uses system monospace fonts by default. */
  --font-mono: "IBM Plex Mono";
  /* Your preferred accent color. Indigo is closest to Starlight’s defaults. */
  --color-accent-50: var(--color-indigo-50);
  --color-accent-100: var(--color-indigo-100);
  --color-accent-200: var(--color-indigo-200);
  --color-accent-300: var(--color-indigo-300);
  --color-accent-400: var(--color-indigo-400);
  --color-accent-500: var(--color-indigo-500);
  --color-accent-600: var(--color-indigo-600);
  --color-accent-700: var(--color-indigo-700);
  --color-accent-800: var(--color-indigo-800);
  --color-accent-900: var(--color-indigo-900);
  --color-accent-950: var(--color-indigo-950);
  /* Your preferred gray scale. Zinc is closest to Starlight’s defaults. */
  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);
}
