---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { LinkButton } from '@astrojs/starlight/components';
---

<StarlightPage
  frontmatter={{
    title: "manuale",
  }}
>
  <p>
    Benvenuto nel manuale di programmazione scritto per neofiti, qui troverai
    guide per iniziare. Questo manuale non può essere usato singolarmente come unico riferimento ma è pensato per essere affiancato a corsi, video o altre risorse. Se vuoi contribuire o hai suggerimenti, non esitare a contattarmi!
  </p>

  <LinkButton href="/python" variant="primary">
    manuale di Python
  </LinkButton>
  <LinkButton href="/cpp" variant="primary">
    manuale di C++
  </LinkButton>
</StarlightPage>
